* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(http://camerascomputex.ddns.net:8080/escola/images/fundo2claro.png);
}

#card-perfil-logo {
    width: 100px;
    padding: 10px;
    margin: 20px 0px;
}

#Home #row-perfil {
    justify-content: space-evenly;
    margin-top: 75px;
    border: 1px solid black;
    border-radius: 10px;
    background-image: url(http://camerascomputex.ddns.net:8080/escola/images/fundo2claro.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 720px;
}

#container-perfil {
    display: flex;
    justify-content: center;
}

#colunaEsquerda-perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#colunaDireita-perfil {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* alinhamento icone do botão */
#figure-caixa-botoes {
    margin: 0px;
    width: 220px;
    display: flex;
    align-items: center;
}
/* botão */
.btn.btn-primary.btn-custom.GBM {
    margin: 5px;
    width: 250px;
    
}
/* icone do botão */
.figure-img.img-fluid.rounded.GBM {
    margin: 0;
    width: 24px;
    height: 24px;
}
.label{
    width: 200px;
}
.row.GBM{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin:10px auto 0 auto;
}
