*{
    margin: 0;
    padding: 0;
}
#container-tabela{
    margin-top: 75px;
}
table {
    border-left: 0;
    border-right: 0;
    border-collapse: separate;
    border-spacing: 0.5rem 0.75rem;
    justify-content: center;
}
.horarios, .dias, .materia, .title, .tabela, .linha-intervalo{
    display: flex;
    justify-content: center;
}
.horarios, .semana{
    background-color: rgb(235, 235, 235);
}
.coluna{
    display: flex;
    flex-direction: column;
}
