*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container-tabela{
    margin-top: 75px;
}
table {
    border-left: 0;
    border-right: 0;
    border-collapse: separate;
    border-spacing: 0.5rem 0.75rem;
    justify-content: center;
}
.dias, .materia, .title, .tabela, .linha-intervalo{
    display: flex;
    justify-content: center;
}
.coluna{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col.horario{
    display: flex;
    justify-content: center;
    height: 60px;
    width: 120px;
}